doctype html
head
    title Sensitive Question
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="mobile-web-app-capable" content="yes")
    
    - if(settings.env == "development")
        link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js") 
    - else
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js")
        script(src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js") 
        link(rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css")
    
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js")
    script(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-114/svg-assets-cache.js")

    script(src="main.js")
    link(rel="stylesheet", href="main.css")


body: .app-container.md-whiteframe-16dp(ng-app="questions", ng-controller="qCtrl" layout="column")
    md-toolbar.md-hue-2(): .md-toolbar-tools
        h2: span Difficult Questions
    md-content(flex)
        md-tabs(md-dymanic-height md-border-bottom)
            md-tab(label="overview")
                md-content.md-padding
                    h1 Testing
            md-tab(label="what do do")
                md-content.md-padding
                    h1 Testing
            md-tab(label="Submission")
                md-content.md-padding
                    h1 Testing

    md-toolbar.md-hue-2(): .md-toolbar-tools(layout="row")
        span(flex)
        md-button.md-raised
            span Next
            md-icon: ng-md-icon(icon="navigate_next").icon-black

    