doctype html
head
    title Sensitive Question
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="mobile-web-app-capable" content="yes")
    
    - if(settings.env == "development")
        link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.css")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.js")
        script(src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.js") 
    - else
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js")
        script(src="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js") 
        link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css")
    
    script(src="//cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.7.1/angular-material-icons.min.js")

    script(src="main.js")
    link(rel="stylesheet", href="main.css")


body
    .app-container.md-whiteframe-16dp(ng-app="questions", ng-controller="qCtrl" layout="column" ng-cloak)
        md-toolbar.md-hue-2(): .md-toolbar-tools
            h2: span Sensitive Questions
        md-tabs(md-dymanic-height md-border-bottom md-selected="tabIndex" \
                md-autoselect="" md-swipe-left="next()" flex)

            // Tab 1
            md-tab(label="overview" md-on-select="newRandom()"): md-tab-content(flex layout-fill).md-padding
                p.md-subhead.
                    On the next screen, there will be an instruction to lie or not to lie when answering
                    the question: "#[b {{ question }}]". If it instructs you to lie, click the
                    opposite button from the truth.
                p.md-subhead.
                    To ensure even sampling, #[b don't show the screen to anyone else] while taking the survey.
                p.md-subhead.
                    To begin, click the #[b NEXT] button at the bottom-right of the screen.

            // Tab 2
            md-tab(label="what to do"): md-tab-content(flex layout-fill layout="column" \
                    ng-class="{red: lie, green: !lie}").md-padding
                .md-display-1.white-text For the next question, you must tell...
                .panel.white-text( flex layout="column" layout-align="center center")
                    .md-display-4(ng-bind="lie ? 'A Lie' : 'The Truth'") 
            
            //Tab 3
            md-tab(label="submission"): md-tab-content(flex layout-fill).md-padding
                div(ng-if="submissionState == 'none'" layout-fill layout="column")
                    .md-display-1.final-question(ng-bind="question")
                    md-button.md-raised.selection-button.btn-primary(flex="noshrink" layout="column" layout-align="center center" ng-click="submit(true)")
                        .md-display-3.no-txt-transform Yes
                    md-button.md-raised.selection-button(flex="noshrink" layout="column" layout-align="center center" ng-click="submit(false)")
                        .md-display-3.no-txt-transform No
                div(ng-if="submissionState == 'waiting'" layout-fill layout-align="center center" layout="column" flex)
                    md-progress-circular(md-mode="indeterminate")
                div(ng-if="submissionState == 'done'" layout-fill layout-align="center center" layout="column" flex)
                    span.md-display-4 Done!
                div(ng-if="submissionState == 'error'" layout-fill layout-align="center center" layout="column" flex)
                    span.md-display-4 Error.


        md-toolbar.md-hue-2.nofocus(ng-dblclick="reset()"): .md-toolbar-tools(layout="row")
            span.white-text {{tabIndex + 1}} of 3
            span(ng-dblclick="reset()" flex)
            div(ng-if="tabIndex < 2")
                md-button.md-raised(ng-click="next()")
                    span Next
                    md-icon: ng-md-icon(icon="navigate_next").icon-black

    