md-tabs-wrapper{ pointer-events:none; }
.nofocus:focus { outline:0 !important; }

.app-container{
    /* Max sizes */
    max-width:500px;
    max-height:750px;
    height:100%;

    /* Center on frame */
    margin: 0 auto;
    position: relative;
	top: 50%;
	transform:translateY(-50%);
}

.white-text{ color:white; }
.icon-black{ fill:black; }

.red{ background-color:#b6131f; }
.green{ background-color:#1c9a13; }

.panel{
    /* The true/false big text */
    text-align:center;
    margin-top:10px;
    font-size:40px;
    border-radius:5px;
}

.you-must{
    margin:25px;
}

.selection-button{
    /* The final yes/no buttons */
    text-transform:none !important;
    border: 1px solid #888;
    margin:25px;
    margin-top:0;
    height:75px;
}

.final-question{
    margin-top:20px;
    margin-bottom:20px;
    margin-left:25px;
    margin-right:25px;
}