.icon-black{
    fill:black;
}

.white-text{ color:white; }

.app-container{
    /* Max sizes */
    max-width:500px;
    max-height:700px;
    height:100%;

    /* Center on frame */
    margin: 0 auto;
    position: relative;
	top: 50%;
	transform:translateY(-50%);
}

md-tabs-wrapper{
    pointer-events:none;
}

.nofocus:focus { outline:0 !important; }

.panel{
    text-align:center;
    margin-top:10px;
    font-size:40px;
    border-radius:5px;
}

.green{
    background-color:#1c9a13;
}

.red{
    background-color:#b6131f;
}

.outline{
    border: 2px solid black;
}